<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoanDepartment" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.day1Project.ListenersDemo"/>
	</listeners>
	<test name="personalLoan">
		<parameter name="URL" value="www.google.com" />
		<classes>
			<class name="com.day1Project.day1" />
			<class name="com.day1Project.day3" />
			<class name="com.day1Project.day4" />
		</classes>
	</test>
	<test name="carloan">
		<parameter name="URL" value="qa.clickacadmey" />

		<classes>
			<class name="com.Flipakart.day4" />
			<class name="com.Flipakart.day3" />
			<class name="com.Flipakart.TestngDemo" />
			<class name="com.Flipakart.App2" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->